---
import {Astro} from "astro/env";
import Box from "./basics/Box.astro";

interface ClientProfile {
    name: string;
    industry: string;
    size?: string;
    employees?: number;
    annualRevenue?: string;
    transactionsDaily?: string;
    populationServed?: number;
}

interface CaseStudy {
    title: string;
    image: string;
    clientProfile: ClientProfile;
    challenge: string;
    solution: string[];
    results: string[];
}

export interface Props {
    caseStudy: CaseStudy;
}

const { caseStudy } = Astro.props;
---

<Box>
    <h2 class="study-title">{caseStudy.title}</h2>
    <div class="content">
        <img src={caseStudy.image} alt={caseStudy.title} width="270px" />
        <div class="company-data-col">
            <div class="profile">
                <h3>Client Profile</h3>
                <div class="profile-list">
                    {Object.entries(caseStudy.clientProfile).map(([key, value]) => (
                            <div><strong>{key}:</strong><span>{value}</span></div>
                    ))}
                </div>
            </div>
            <div>
                <h3>Challenge</h3>
                <p>{caseStudy.challenge}</p>
            </div>
        </div>
    </div>

    <div class="cols-2">
        <div>
            <h3>Solution</h3>
            <ul>
                {caseStudy.solution.map(item => (<li>{item}</li>))}
            </ul>
        </div>
        <div>
            <h3>Results</h3>
            <ul>
                {caseStudy.results.map(item => (<li>{item}</li>))}
            </ul>
        </div>
    </div>
</Box>

<style>

    .study-title {
        margin: 0 0 var(--gap-size-3);
    }

    .content {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: var(--gap-size-3);
        margin: var(--gap-size-2) 0 var(--gap-size-2);
    }

    @media (max-width: 830px) {
        .content {
            flex-direction: column;
        }
    }

    .company-data-col {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: var(--gap-size-3);
    }

    .company-data-col div > h3 {
        margin: 0 0 var(--gap-size-1);
    }

    .profile-list div {
        margin: var(--gap-size-1) 0 var(--gap-size-1);
    }

    .profile-list div strong {
        text-transform: capitalize;
        margin-right: 8px;
        font-weight: 400;
        color: var(--primary-color);
    }

    p {
        filter: brightness(0.8);
    }

    ul {
        margin-top: var(--gap-size-1);
    }

    li {
        margin-bottom: var(--gap-size-1);
    }

    .cols-2 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 450px), 1fr));
        gap: var(--gap-size-3);
    }
</style>